body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
  /* display: flex;
  flex-direction: column; */
  /* overflow-x: hidden; */
  /* width: 1440px; */
  /* height: 1000px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
